body {
 font-family: 'Chivo', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6, #logo {
 font-family: 'Playfair Display', serif;
 font-weight: 700;
 font-style: italic;
}

nav { padding: 0 40px;}

#logo {
    flex-direction: column;
    align-items: flex-start;
    /*font-family: 'Merriweather', serif;*/
    text-transform: none;
}

.uk-navbar-nav>li>a {
    color: #525151;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus, .uk-iconnav>*>a:focus, .uk-iconnav>*>a:hover, #logo:hover .uk-text-lead {
    color: #006dc4;
}

[class*=uk-navbar-dropdown-bottom] {
    margin-top: -20px;
}

.uk-navbar-dropdown {
    width: auto;
    padding: 15px;
    background: #f8f8f8;
    box-shadow: 0 5px 12px rgba(0,0,0,.15);
}

.uk-navbar-dropdown-nav>li>a {
    color: #515151;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.uk-navbar-dropdown-nav>li>a:hover {
    color: #39f;
    text-shadow: none;
}

.uk-offcanvas-bar {
    background: white;
}

.uk-offcanvas-bar ul a, button.uk-offcanvas-close {
    color: #333 !important;
    font-size: large;
}

@media (max-width: 413px)  {
    nav .uk-text-lead {
        font-size: 1rem;
    }
}

@media (max-width: 363px) {
    li.nav-social {
        display: none;
    }
}

/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}*/

h1 {
    text-align: center;
    color: white;
    padding-top: 120px;
    font-size: 3rem;
}

.article {
    margin-top: 40px;
}

.header-image {
    height: 400px;
    overflow: hidden;
    background-size: cover;
}

@media (max-width: 575px) {
    .header-image {
        height: 200px;
    }
    h1 {
        padding-top: 70px;
        font-size: 2.5rem;
    }
}

.iframe-container {
    padding: 50px 20px 20px;
    float: left;
}

@media (max-width: 450px) {
    iframe {
        padding: 0 0 20px 0;
    }
}

iframe {
    max-width: 100%;
}

.item-header {
    text-align: center;
}

.item-images img {
    max-width: 20vw;
}

footer {
    padding: 40px 0;
}

footer small {
    display: block;
}

@media (max-width: 620px) {
    footer .uk-text-lead {
        font-size: 1rem;
    }
}

@media (max-width: 465px) {
    p {
        word-break: break-word;
    }
    .column {
        flex-direction: column;
    }

    .last {
        order: 3;
    }
}

.description p, .description li {
    font-size: 18px;
    color: black;
}
