<ul class="uk-navbar-nav uk-visible@m">
        <li class="uk-active">
            <a href="">Home</a>
        </li>
        <li class="uk-parent">
            <a href="#">Our Houses</a>
            <div class="uk-navbar-dropdown">
                   <ul class="uk-nav uk-navbar-dropdown-nav">
                       <li><a href="#">Strawberry Feilds</a></li>
                       <li><a href="#">Lemon Lift</a></li>
                   </ul>
               </div>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
</ul>
<ul class="uk-iconnav">
    <li class="nav-social"><a href="https://www.facebook.com/danielbinghamforbloomington/?ref=br_rs" uk-icon="icon: facebook"></a></li>
    <li class="nav-social"><a href="https://twitter.com/danielbingham" uk-icon="icon: twitter"></a></li>
    <li><a uk-navbar-toggle-icon uk-toggle="target: #offcanvas-slide" class="uk-hidden@m" id="mobile-nav-toggle"></a></li>
</ul>

{% include 'partials/offcanvas.html.twig'%}
